.welcome-link-div {
    width: 25%; 
    height: 130px; 
    background-color: #A51C30; 
    border-radius: 10px; 
    margin: 10px;
    box-shadow: 5px 5px 4px gray;
}

.welcome-double-text {
    font-size: 30px; 
    margin-top: 20px; 
    margin-left: 20px;
}

.welcome-link-text {
    color: white;
}