<div style="margin-top: 50px; margin-left: 50px; margin-right: 50px">
<h1 style="font-size: 40px; margin-bottom: 50px;" class="text-color-crimson">WELCOME TO</h1>
<h1 style="font-size: 40px; margin-bottom: 30px;" class="text-color-crimson">HARVARD UNIVERSITY DINING SERVICES</h1>
<p style="font-size: 20px; margin-bottom: 30px;">Community comes together on campus over a great meal. Undergraduates enjoy unlimited dining at Annenberg Dining Hall or in their Houses. Any member of the community can also dine in one of our many cafes. Explore the full range of our dining experiences.</p>
<div style="display:flex; flex-direction: row;">
    <a style="text-decoration:none;" class="welcome-link-div" routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">
        <p style="font-size: 40px; margin-top: 20px; margin-left: 20px;" class="welcome-link-text">MENUS</p>
    </a>
    <a style="text-decoration:none;" class="welcome-link-div" routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">
        <p class="welcome-link-text welcome-double-text">DINING</p>
        <p class="welcome-link-text welcome-double-text">@ HARVARD</p>
    </a>
    <a style="text-decoration:none;" class="welcome-link-div" routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">
        <p class="welcome-link-text welcome-double-text">GIVE US</p>
        <p class="welcome-link-text welcome-double-text">FEEDBACK!</p>
    </a>
</div>
</div>