<div class="width-percent-max padding-y-15 padding-x-10" style="background-image: url(../../assets/header_image.png);">
    <div style="width: 400px;"class="flex flex-direction-row background-color-white padding-y-10 border-radius-25" onclick="location.href='./welcome/welcome.component.html;'">
        <img style="width: 100px;" src="../../assets/harvard_logo.png">
        <div class="flex justify-center flex-direction-column"><h2 class=" primary-font " style="font-size: 23px; font-family: Helvetica, sans-serif, monospace;">HARVARD UNIVERSITY</h2>
            <h2 style="margin-bottom: 0px; font-size: 23px; font-family: Helvetica, sans-serif, monospace;"class="primary-font" >Dining Services</h2></div>
    </div>
</div>