<div class="sidenav" style="display:flex; flex-direction: column; justify-content: space-between; height: 100%">
    <mat-accordion displayMode="flat" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-color-crimson">
              Menus
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="padding-bottom-10"><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Annenberg</a></div>
          <div class="padding-bottom-10"><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Quincy House</a></div>
          <div class="padding-bottom-10"><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">House (except Quincy)</a></div>
          <div class="padding-bottom-10"><a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">Flyby</a></div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-color-crimson">
              Dining @ Harvard
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="padding-bottom-10"><a routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Nutrition</a></div>
          <div class="padding-bottom-10"><a routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Board Plus and Guest Meals</a></div>
          <div class="padding-bottom-10"><a routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Dietary Restrictions</a></div>
        </mat-expansion-panel>
      </mat-accordion>
      <button style="width: 100%;" mat-button routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page"><p style="font-family: Helvetica, sans-serif, monospace;" class="text-color-crimson">Give Us Feedback!</p></button>
</div>