<div style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;">
<section style="margin-top: 10px; display: flex; flex-direction: column; width:30%">
    <p style="font-size: 15px;">Salad Bar</p>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
</section>
<section style="margin-top: 10px; display: flex; flex-direction: column; width:30%">
    <p style="font-size: 15px;">Proteins</p>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
</section>
<section style="margin-top: 10px; display: flex; flex-direction: column; width:30%">
    <p style="font-size: 15px;">Grill</p>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
</section>
<section style="margin-top: 10px; display: flex; flex-direction: column; width:30%">
    <p style="font-size: 15px;">Salad Bar</p>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
</section>
<section style="margin-top: 10px; display: flex; flex-direction: column; width:30%">
    <p style="font-size: 15px;">Salad Bar</p>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
</section>
<section style="margin-top: 10px; display: flex; flex-direction: column; width:30%">
    <p style="font-size: 15px;">Salad Bar</p>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
</section>
<section style="margin-top: 10px; display: flex; flex-direction: column;width:30%">
    <p style="font-size: 15px;">Salad Bar</p>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
</section>
<section style="margin-top: 10px; display: flex; flex-direction: column; width:30%">
    <p style="font-size: 15px;">Salad Bar</p>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
    <mat-checkbox>Grilled Chicken</mat-checkbox>
</section>
</div>
